footer {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #576163;
    padding: 10px 50px;
    box-sizing: border-box;
    justify-content: space-between;
    position: relative;
    bottom: 0;
}

.social {
    flex: 1;
    justify-content: flex-start;
    margin-left: 50px;
}

footer .icon {
    color: #AE795F;
    padding-right: 10px;
}